/* 1) შექმენით Form. მასში დაამატეთ label/input ლემენტები და მომხმარებელს შემოატანინეთ შემდეგი ინფორმაცია:
• სახელი და გვარი (ერთად)
• საცხოვრებელი ქალაქი
• პირადი ნომერი.

მაუსის გადატარებისას Input ველებს შეუცვალეთ Backgorund-ის ფერი და დააყენეთ იგი ლურჯ ფერზე. active მდგომარეობისას კი მათ შრიფტის ზომა უნდა გაუზარდოთ.

2) შექმენით Form და მომხმარებელს შემოატანინეთ:
• მისამართი
• საცხოვრებელი ქვეყანა
• დაბადების თარიღი.

სურვილისამებრ მაქსიმალურად დახვეწილი დიზაინი მიანიჭეთ თქვენ სმიერ შექმნილ ფორმას. */

form{
    margin-top: 350px;
    border: 1px solid rgb(85, 85, 116);
    padding: 15px;
    width: 250px;
    margin-left: 1300px;
    background-color: rgb(90, 90, 121);
    color: white;

}

input{
    width: 250px;
    height: 20px;
    background-color: rgb(90, 90, 121);
}

input:hover{
    background-color: blue;
}

input:active{
    font-weight: 600;
}