/* list-style-type: ამის გამოყენებით ჩვენ შეგვიძლია რომ list item ის წინ სი შავი რგოლი მოვხსნათ დავამატოთ სხვა და ასე შემდდეგ
   list-style-position შედის ორი მნიშვნელობა ერთი არის inside და outside inside წერტილს ქვემოთაც იწერება და outside ის დროს წერტილს გვემოთ ან რაც იქნება იმ წეერტილის ნაცვლად მანდ არ იწერება
   list-style-image:url(" ") ამის საშუალებით ჩვენ შეგვიძლია რომ წერტილის ან რაიმე სხვის ნაცვლად ჩავსვათ ფოტო ფოტო ს ლინკს ჩავსვამთ url(" ") ში ბრჭყალებს შორის */


    /* შექმენით დალაგებული სია და მასში ჩააშენეთ პროდუქტები. ამ მიას მიანიჭეთ პატარა შრიფტის ზომის რომაული ნუმერაცია და ტექსტის პოზიცია შიგნით განალაგეთ. */

#ol1{
    list-style:lower-roman inside;
}

/*  შქმენით დაულაგებელი სია, სადაც ჩაწერთ საგნებს (მაგ. მათემატიკა, ისტორია, ინგლისური და ა.შ). 
ამ დალაგებულ სიას გაუწერეთ კვადრატული ფორმის მარკერის სტილი და ტექსტი - პოზიციით გადაიტანეთ მარკერების გარეთ. */


#ul1{
    list-style-type: square;
    list-style-position: outside;
}