/* 
ფოტოებიდან 2-ს მიანიჭეთ წითელი ფერის double ბორდერი და ზომა: 200 x 200. 
ხოლო დრჩენილ 1 ფოტოს მიანიჭეთ იასამნისფერი solid ბორდერი და ზომა: 150 x 150. 

საიტზე დამატებულ 3 პარაგრაფს მიეცით ცისფერი ფერი, 2-ს კი ნარინჯისფერი ფერი.ხუთივე პარაგრაფი გადაიტანეთ ცენტრში.

ორივე Heading-ს მიეცით ლურჯი dotted ბორდერი, ტექსტის ფერი -- იისფერი და გადაიტანეთ ცენტრში.

ღილაკები კი ინდივიდუალურად გასტილეთ. ამ ორ ღილაკს ჰქონდეს ერთმანეთისგან სხვადასხვა ფერი, ბორდერი და ზომა.

(ამ დავალებების შესასრულებლად გამოიყენეთ id-ები და class-ები. ელემენტები გასტილეთ Exrernal CSS-ში.) --> */

.photo{
    border: 1px double red;
    width: 200px;
    height: 200px;
}

#photo1{
    border: 1px solid purple;
    width: 150px;
    height: 150px;
}

.paragraph{
    color: rgb(0, 242, 250, 0.959);
    text-align: center;
}

.paragraph1{
    color: rgb(73, 80, 92);
    text-align: center;
}

.heading{
    text-align: center;
    color:rgb(95, 14, 119) ;
    border: dotted rgb(0, 0, 250) ;
}

.button{
    color:rgb(95, 14, 119) ;
    border: 1px rgb(71, 54, 54) solid;
}