body {
    background-color:#FFC107;
    color: #000000;
    font-family: Arial, sans-serif;
    margin: 15px;
    padding: 10px;
}

h1 {
    color: #000000;
    text-align: center; 
}

label {
    font-weight: bold;
    margin-right: 6px;
}


